.container {
  display: grid;
  flex-direction: column;
  width: 100%;
  position: relative;
}
.img {
  height: 200px;
  background-size: cover;
  background-position: center;
  background-color: grey;
  margin-bottom: 0.5rem;
  border-radius: 8px;
}
:global(.MuiTypography-root) {
  &.text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    line-height: 1.7;
    color: #000;
  }
}
