.container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.cards__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  grid-auto-rows: 400px;
  grid-gap: 20px;
  width: 100%;
  margin-bottom: 50px;
}
.pagination__wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
