.container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.img {
  height: 100%;
  width: auto;
  min-height: 200px;
  max-height: 328px;
  position: relative;
  background-size: cover;
  background-position: center;
  background-color: grey;
  margin-bottom: 0.5rem;
  border-radius: 8px;
}
.rating {
  position: absolute;
  left: -6px;
  top: 18px;
  background-color: #adadad;
  border-radius: 4px;
  padding: 4px 8px;
  font-size: 12px;
  color: #fff;
  z-index: 2;
  &.success {
    background-color: #2e7d32;
  }
}
.substrate {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0000004d;
  border-radius: 8px;
}
.img:hover .substrate {
  visibility: inherit;
}
.link__video {
  background-color: #fff;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
:global(.MuiTypography-root) {
  &.text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    line-height: 1.7;
    color: #000;
  }
}
.actor {
  &__class {
    min-width: 100px;
  }
  &__img {
    height: 150px;
  }
}
