.container {
  display: flex;
  justify-content: space-between;
}
:global(.MuiTypography-root) {
  &.title {
    color: #fff;
  }
}
@media (max-width: 475px) {
  :global(.MuiTypography-root) {
    &.title {
      font-size: 22px;
    }
  }
  :global(.MuiToolbar-root.MuiToolbar-gutters.MuiToolbar-regular) {
    &.container {
      padding: 0;
    }
  }
}
