.container {
  display: grid;
}
.main {
  display: grid;
  grid-template-columns: 25% 73%;
  grid-gap: 25px;
  margin-bottom: 25px;
}
.photo {
  width: 100%;
  height: auto;
}
.information {
  display: grid;
  grid-row-gap: 20px;
}
.images__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 150px;
  grid-gap: 20px;
}
.image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 4px;
}
.collection__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  grid-auto-rows: 400px;
  grid-gap: 20px;
  width: 100%;
}
.genre__wrapper {
  display: flex;
  grid-gap: 7px;
}
.actors {
  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: 270px;
    grid-gap: 10px;
    overflow: hidden;
    height: 270px;
  }
  &__active {
    overflow: auto;
    height: 545px;
  }
  &__btn {
    background-color: none;
  }
}
@media (max-width: 1145px) {
  .main {
    grid-template-columns: auto;
  }
  .photo {
    max-width: 200px;
    max-height: 200px;
  }
  .photos__container {
    justify-content: center;
  }
  .actors {
    &__wrapper {
      grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    }
  }
}
@media (max-width: 778px) {
  .images__container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 490px) {
  .actors {
    &__wrapper {
      grid-template-columns: 1fr;
    }
  }
}
